<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Cambia entre "local" y "remoto" según necesites -->
		<add key="Ambiente" value="local" />
	</appSettings>

	<connectionStrings>
		<add name="local"
			 connectionString="Server=jsvs;Database=restaurante_mexicano;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
		<add name="remoto"
			 connectionString="Server=tcp:restaurante-serv3r.database.windows.net,1433;Initial Catalog=restaurante_mexicano;Persist Security Info=False;User ID=sqladmin;Password=Blpsfacebook01.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>